# Ignore Python cache, virtual environments, and compiled files
__pycache__/
*.pyc
venv/
env/

# Ignore everything inside models/ and logs/, but track .gitkeep
models/*
!models/.gitkeep
logs/*
!logs/.gitkeep

# Ignore dataset cache
datasets/*
!datasets/.gitkeep

# Ignore Hugging Face transformers cache
~/.cache/huggingface/
hf_cache/
